<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>tv3play</key>
		<dict>
			<key>TestURLs</key>
			<array>
				<string>http://www.tv3play.dk/mobileapi/detailed?videoid=288995</string>
			</array>
			<key>URLPatterns</key>
			<array>
				<string>http://www.tv3play.(dk|se|no)/mobileapi/detailed\?videoid=.*</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
